# PV Notebook
This notebook will explore solar generation around the ERCOT 4CP events.

In [32]:
import pandas as pd
import psycopg2
import sqlalchemy as sqla

In [33]:
# get our DB connection
engine = sqla.create_engine('postgresql://{}:{}@{}:{}/{}'.format('steve',
                                                                     'steve123abc',
                                                                     '10.20.10.50',
                                                                     5433,
                                                                     'dataport'
                                                                     ))

In [34]:
# dates acquired from http://mis.ercot.com/misapp/GetReports.do?reportTypeId=13037&reportTitle=Planned%20Service%20Four%20Coincident%20Peak%20Calculations&showHTMLView=&mimicKey

event_start_dates = ['2019-06-19 17:00:00-05', '2019-07-30 16:30:00-05', '2019-08-12 17:00:00-05', '2019-09-06 16:45:00-05',
               '2018-06-27 17:00:00-05', '2018-07-19 17:00:00-05', '2018-08-23 16:45:00-05', '2018-09-19 16:30:00-05',
               '2017-06-23 16:45:00-05', '2017-07-28 17:00:00-05', '2017-08-16 17:00:00-05', '2017-09-20 16:45:00-05',
               '2016-06-15 17:00:00-05', '2016-07-14 16:00:00-05', '2016-08-11 16:30:00-05', '2016-09-19 16:16:00-05'
              ]
event_end_dates = ['2019-06-19 17:15:00-05', '2019-07-30 16:45:00-05', '2019-08-12 17:15:00-05', '2019-09-06 17:00:00-05',
               '2018-06-27 17:15:00-05', '2018-07-19 17:15:00-05', '2018-08-23 17:00:00-05', '2018-09-19 16:45:00-05',
               '2017-06-23 17:00:00-05', '2017-07-28 17:15:00-05', '2017-08-16 17:15:00-05', '2017-09-20 17:00:00-05',
               '2016-06-15 17:15:00-05', '2016-07-14 16:15:00-05', '2016-08-11 16:45:00-05', '2016-09-19 16:31:00-05']

In [35]:
# dataids, pv direction, amount of PV of solar homes
query = """
select dataid, pv, pv_panel_direction, total_amount_of_pv, amount_of_west_facing_pv, amount_of_south_facing_pv
from other_datasets.metadata
where pv is not null
and total_amount_of_pv is not null
and grid is not null 
and solar is not null
and pv_panel_direction in ('South', 'West')
and egauge_1min_min_time < '2016-09-19'
and egauge_1min_max_time > '2019-06-19'
"""

# create a dataframe with the data from the sql query
df = pd.read_sql_query(sqla.text(query), engine)
df

,dataid,pv,pv_panel_direction,total_amount_of_pv,amount_of_west_facing_pv,amount_of_south_facing_pv
0,2337,yes,South,4.995,0.000,4.995
1,7030,yes,South,5.250,0.000,5.250
2,9982,yes,South,3.675,NaN,3.675
3,7767,yes,South,5.920,0.000,5.920
4,890,yes,South,6.250,0.000,6.250
5,4357,yes,South,4.000,0.000,4.000
6,7541,yes,South,6.250,0.000,6.250
7,7719,yes,South,6.300,NaN,6.300
8,6691,yes,South,5.200,NaN,5.200
9,3649,yes,South,7.540,NaN,7.540
10,3506,yes,South,6.240,NaN,6.240
11,5357,yes,West,15.300,15.300,NaN
12,8419,yes,South,4.070,0.000,4.070
13,8086,yes,West,5.635,5.635,NaN
14,8467,yes,South,5.180,0.000,5.180
15,7800,yes,South,5.145,0.000,5.145
16,7741,yes,South,6.125,0.000,6.125
17,7739,yes,South,5.000,0.000,5.000
18,5796,yes,South,4.250,0.000,4.250
19,5738,yes,West,5.920,5.920,NaN
20,5129,yes,South,5.145,0.000,5.145
21,2470,yes,South,3.500,0.000,3.500
22,1169,yes,South,3.885,0.000,3.885
23,187,yes,West,5.250,5.250,NaN
24,9932,yes,South,5.200,NaN,5.200
25,6139,yes,South,4.420,0.000,4.420
26,93,yes,South,6.105,0.000,6.105
27,5439,yes,South,4.000,0.000,4.000
28,171,yes,West,6.250,6.250,NaN
29,5892,yes,West,5.250,5.250,0.000
30,6643,yes,South,5.750,0.000,5.750
31,2199,yes,South,4.995,0.000,4.995
32,9134,yes,South,4.995,NaN,4.995
33,8767,yes,South,4.070,NaN,4.070
34,8626,yes,South,6.615,0.000,6.615
35,8317,yes,South,2.940,0.000,2.940
36,8084,yes,South,8.840,0.000,8.840
37,7940,yes,West,5.250,5.250,NaN
38,6836,yes,South,3.430,0.000,3.430
39,5972,yes,West,5.920,5.920,NaN
40,4336,yes,West,3.330,3.330,NaN
41,3482,yes,West,5.130,5.130,NaN
42,3039,yes,West,6.250,6.250,0.000
43,3009,yes,South,6.250,NaN,6.250
44,2814,yes,West,6.210,6.210,NaN
45,2461,yes,South,8.175,NaN,8.175
46,2233,yes,South,6.250,0.000,6.250
47,744,yes,South,5.920,0.000,5.920
48,661,yes,South,6.300,NaN,6.300

In [36]:
# grab dataids and convert them to a string to put into the SQL query
dataids_list = df['dataid'].tolist()
dataids_list
dataids_str = ','.join(list(map(str, dataids_list)))
dataids_str

'2337,7030,9982,7767,890,4357,7541,7719,6691,3649,3506,5357,8419,8086,8467,7800,7741,7739,5796,5738,5129,2470,1169,187,9932,6139,93,5439,171,5892,6643,2199,9134,8767,8626,8317,8084,7940,6836,5972,4336,3482,3039,3009,2814,2461,2233,744,661'

In [37]:
# calculate usage grid minus solar (which is actually grid + solar because solar is negative use)
# 
query_2 = """
select dataid, localminute, solar, grid from electricity.eg_realpower_1min 
where localminute >= '2019-06-19 17:00:00-05' and localminute <= '2019-06-19 17:15:00-05'
and dataid in """

query_2 = query_2 + "({})".format(dataids_str)
print(query_2)

# create a dataframe with the data from the sql query
df2 = pd.read_sql_query(sqla.text(query_2), engine)

# Calculate the difference and add is as a new column
df2['solar+grid'] = df2.apply(lambda row: row.solar + row.grid, axis=1)
df2.head(15)

select dataid, localminute, solar, grid from electricity.eg_realpower_1min
where localminute >= '2019-06-19 17:00:00-05' and localminute <= '2019-06-19 17:15:00-05'
and dataid in (2337,7030,9982,7767,890,4357,7541,7719,6691,3649,3506,5357,8419,8086,8467,7800,7741,7739,5796,5738,5129,2470,1169,187,9932,6139,93,5439,171,5892,6643,2199,9134,8767,8626,8317,8084,7940,6836,5972,4336,3482,3039,3009,2814,2461,2233,744,661)

    dataid               localminute  solar   grid  solar+grid
0       93 2019-06-19 22:00:00+00:00  1.518 -1.221       0.297
1       93 2019-06-19 22:01:00+00:00  1.519 -1.221       0.298
2       93 2019-06-19 22:02:00+00:00  1.509 -1.212       0.297
3       93 2019-06-19 22:03:00+00:00  1.496 -1.200       0.296
4       93 2019-06-19 22:04:00+00:00  1.484 -1.188       0.296
5       93 2019-06-19 22:05:00+00:00  1.476 -1.076       0.400
6       93 2019-06-19 22:06:00+00:00  1.466 -1.097       0.369
7       93 2019-06-19 22:07:00+00:00  1.452  2.668       4.120
8       93 2019-06-19 22:08:00+00:00  1.438  3.166       4.604
9       93 2019-06-19 22:09:00+00:00  1.415  3.266       4.681
10      93 2019-06-19 22:10:00+00:00  1.389  3.434       4.823
11      93 2019-06-19 22:11:00+00:00  1.344  3.379       4.723
12      93 2019-06-19 22:12:00+00:00  1.310  3.396       4.706
13      93 2019-06-19 22:13:00+00:00  1.328  3.461       4.789
14      93 2019-06-19 22:14:00+00:00  1.316  3.479       4.795

In [38]:
# group by dataid and average(?) the values
grouped = df2.groupby(['dataid']).mean()
grouped

           solar      grid  solar+grid
dataid
93      1.422375  1.340375    2.762750
171     3.845813 -0.614375    3.231438
187     3.432437  1.802187    5.234625
661     2.013375 -1.533750    0.479625
744     1.523438  2.341500    3.864937
890    -0.002000  4.737938    4.735938
1169    1.352250 -1.017188    0.335062
2199    1.177625 -0.890500    0.287125
2233    0.882188  3.590000    4.472187
2337    1.526000 -1.212750    0.313250
2461    3.462312 -3.189188    0.273125
2470    0.906250  2.110250    3.016500
2814    3.839562 -3.467812    0.371750
3009    2.060438 -0.933125    1.127312
3039    3.528687  0.187250    3.715937
3482    3.041375 -1.978187    1.063188
3506    1.900750  1.978125    3.878875
3649    2.382188 -0.580688    1.801500
4336    2.084500 -0.098437    1.986063
5129    1.715625  0.864000    2.579625
5357    6.487188  0.550000    7.037187
5439    1.323937  1.320750    2.644688
5738    3.605938 -3.097562    0.508375
5796    1.480688  1.706250    3.186937
5892    3.104312  1.494125    4.598438
5972    3.215375 -1.374250    1.841125
6139    1.606375 -0.983625    0.622750
6643    2.006187  0.624750    2.630938
6691    2.360250  2.886750    5.247000
6836    1.084063 -2.474250   -1.390188
7030    1.855625  1.046562    2.902187
7541    1.989688  0.779875    2.769563
7719    2.394312 -0.103063    2.291250
7739    1.232500 -0.657437    0.575063
7741    1.881875  0.021813    1.903687
7800    1.567437  2.430500    3.997937
7940    2.747938  0.679375    3.427313
8084    2.954687  2.300125    5.254812
8086    3.545000  3.689500    7.234500
8317    0.669063  1.647000    2.316062
8419    1.307750  3.161563    4.469312
8467    1.672938  2.679563    4.352500
8626    2.526187 -2.135562    0.390625
8767    0.985063  2.444062    3.429125
9134    1.603063  3.377375    4.980438
9932    1.629375 -1.354813    0.274563
9982    1.159063 -2.939000   -1.779937

In [39]:
# let's bring in the metadata on the dataids
joined = pd.merge(grouped, df, on='dataid')
joined

,dataid,solar,grid,solar+grid,pv,pv_panel_direction,total_amount_of_pv,amount_of_west_facing_pv,amount_of_south_facing_pv
0,93,1.422375,1.340375,2.762750,yes,South,6.105,0.000,6.105
1,171,3.845813,-0.614375,3.231438,yes,West,6.250,6.250,NaN
2,187,3.432437,1.802187,5.234625,yes,West,5.250,5.250,NaN
3,661,2.013375,-1.533750,0.479625,yes,South,6.300,NaN,6.300
4,744,1.523438,2.341500,3.864937,yes,South,5.920,0.000,5.920
5,890,-0.002000,4.737938,4.735938,yes,South,6.250,0.000,6.250
6,1169,1.352250,-1.017188,0.335062,yes,South,3.885,0.000,3.885
7,2199,1.177625,-0.890500,0.287125,yes,South,4.995,0.000,4.995
8,2233,0.882188,3.590000,4.472187,yes,South,6.250,0.000,6.250
9,2337,1.526000,-1.212750,0.313250,yes,South,4.995,0.000,4.995
10,2461,3.462312,-3.189188,0.273125,yes,South,8.175,NaN,8.175
11,2470,0.906250,2.110250,3.016500,yes,South,3.500,0.000,3.500
12,2814,3.839562,-3.467812,0.371750,yes,West,6.210,6.210,NaN
13,3009,2.060438,-0.933125,1.127312,yes,South,6.250,NaN,6.250
14,3039,3.528687,0.187250,3.715937,yes,West,6.250,6.250,0.000
15,3482,3.041375,-1.978187,1.063188,yes,West,5.130,5.130,NaN
16,3506,1.900750,1.978125,3.878875,yes,South,6.240,NaN,6.240
17,3649,2.382188,-0.580688,1.801500,yes,South,7.540,NaN,7.540
18,4336,2.084500,-0.098437,1.986063,yes,West,3.330,3.330,NaN
19,5129,1.715625,0.864000,2.579625,yes,South,5.145,0.000,5.145
20,5357,6.487188,0.550000,7.037187,yes,West,15.300,15.300,NaN
21,5439,1.323937,1.320750,2.644688,yes,South,4.000,0.000,4.000
22,5738,3.605938,-3.097562,0.508375,yes,West,5.920,5.920,NaN
23,5796,1.480688,1.706250,3.186937,yes,South,4.250,0.000,4.250
24,5892,3.104312,1.494125,4.598438,yes,West,5.250,5.250,0.000
25,5972,3.215375,-1.374250,1.841125,yes,West,5.920,5.920,NaN
26,6139,1.606375,-0.983625,0.622750,yes,South,4.420,0.000,4.420
27,6643,2.006187,0.624750,2.630938,yes,South,5.750,0.000,5.750
28,6691,2.360250,2.886750,5.247000,yes,South,5.200,NaN,5.200
29,6836,1.084063,-2.474250,-1.390188,yes,South,3.430,0.000,3.430
30,7030,1.855625,1.046562,2.902187,yes,South,5.250,0.000,5.250
31,7541,1.989688,0.779875,2.769563,yes,South,6.250,0.000,6.250
32,7719,2.394312,-0.103063,2.291250,yes,South,6.300,NaN,6.300
33,7739,1.232500,-0.657437,0.575063,yes,South,5.000,0.000,5.000
34,7741,1.881875,0.021813,1.903687,yes,South,6.125,0.000,6.125
35,7800,1.567437,2.430500,3.997937,yes,South,5.145,0.000,5.145
36,7940,2.747938,0.679375,3.427313,yes,West,5.250,5.250,NaN
37,8084,2.954687,2.300125,5.254812,yes,South,8.840,0.000,8.840
38,8086,3.545000,3.689500,7.234500,yes,West,5.635,5.635,NaN
39,8317,0.669063,1.647000,2.316062,yes,South,2.940,0.000,2.940
40,8419,1.307750,3.161563,4.469312,yes,South,4.070,0.000,4.070
41,8467,1.672938,2.679563,4.352500,yes,South,5.180,0.000,5.180
42,8626,2.526187,-2.135562,0.390625,yes,South,6.615,0.000,6.615
43,8767,0.985063,2.444062,3.429125,yes,South,4.070,NaN,4.070
44,9134,1.603063,3.377375,4.980438,yes,South,4.995,NaN,4.995
45,9932,1.629375,-1.354813,0.274563,yes,South,5.200,NaN,5.200
46,9982,1.159063,-2.939000,-1.779937,yes,South,3.675,NaN,3.675

In [40]:
west_vs_south = joined.groupby(['pv_panel_direction']).mean()
west_vs_south

,dataid,solar,grid,solar+grid,total_amount_of_pv,amount_of_west_facing_pv,amount_of_south_facing_pv
pv_panel_direction,,,,,,,
South,5525.485714,1.646084,0.668120,2.314204,5.378714,0.000000,5.378714
West,4417.833333,3.539844,-0.185682,3.354161,6.307917,6.307917,0.000000